flows.json
[
    {
        "id": "3747bf199254fa3b",
        "type": "tab",
        "label": "Hello Malloy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "10853142db6c377e",
        "type": "inject",
        "z": "3747bf199254fa3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "2eb4c5a8f0d6ec5a",
                "1b47e10a91b19979"
            ]
        ]
    },
    {
        "id": "2eb4c5a8f0d6ec5a",
        "type": "malloy",
        "z": "3747bf199254fa3b",
        "name": "data.csv",
        "model": "source: data is table('duckdb:data.csv')",
        "query": "query: data -> {\n    project: *\n}",
        "x": 420,
        "y": 200,
        "wires": [
            [
                "99f2f5a6b532f6c6"
            ]
        ]
    },
    {
        "id": "99f2f5a6b532f6c6",
        "type": "debug",
        "z": "3747bf199254fa3b",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b47e10a91b19979",
        "type": "malloy",
        "z": "3747bf199254fa3b",
        "name": "HTTPS .csv",
        "model": "source: data is table('duckdb:https://people.sc.fsu.edu/~jburkardt/data/csv/addresses.csv')",
        "query": "query: data -> {\n    project: *\n}",
        "x": 430,
        "y": 300,
        "wires": [
            [
                "99f2f5a6b532f6c6"
            ]
        ]
    }
]